# Environment template. Rename this. Use name like alarm-camera.env

# environment name
ENV=
# the location of stored video files
ALARM_VIDEO_DIR=/var/cache/alarm-video
# the prefix of alarm video file names
ALARM_VIDEO_FILE_PREFIX=out
# name of the video file containing information about currently handled alarm
FILE_NAME_ALARM=current-alarm
# filename extension of the file containing information about currently handled alarm
FILE_EXTENSION_ALARM=.mp4
# Filename of the snapshot photo taken in case of alarm
FILE_PHOTO="${ALARM_VIDEO_DIR}/${ENV}.jpg"
# name of the MQTT queue, which gets the alarms (via ONVIF)
MQTT_QUEUE=
# The RTSP URL of the camera. For example: 192.168.1.123/Preview_01_main
CAMERA_RTSP_URL=
# The name / IP address of camera, for example: 192.168.1.123
CAMERA_HOST=
# The S3 bucket used to store the video files
S3_BUCKET=